{% extends "base.html" %}

{% from "table.html" import render_table, table_scripts %}

{% block title %}Device {{ device_id }} Classifications{% endblock %}

{% block content %}
<div class="container">
    <h2>Device {{ device_id }} Classifications</h2>
    {% set display_fields = fields + ['formatted_time'] if 'formatted_time' not in fields else fields %}
    {{ render_table('classificationsTable', classifications, display_fields,
    url_for('download_csv', table_type='classifications', device_id=device_id), pagination) }}
</div>
{% endblock %}

{% block scripts %}
    {{ table_scripts('classificationsTable') }}
{% endblock %}