{% extends "base.html" %}

{% block title %}Device {{ device_id }} Detections{% endblock %}

{% from "table.html" import render_table, table_scripts %}

{% block content %}
<div class="container">
    <h2>Device {{ device_id }} Detections</h2>
    {% if detections %}
    {% set display_fields = detections[0].keys()|sort %}
    {{ render_table('detectionsTable', detections, display_fields,
    url_for('download_csv', table_type='detections', device_id=device_id), pagination,
    request.args.get('sort_by'), request.args.get('sort_order')) }}
    {% else %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ table_scripts('detectionsTable') }}
{% endblock %}