{% extends "base.html" %}

{% block title %}Sensing Garden{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Sensing Garden</h1>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Select Device</h5>
                    <p class="card-text">Select a device to view its data and update its model.</p>
                    <form
                        onsubmit="window.location.href='/view_device/' + document.getElementById('deviceSelect').value; return false;">
                        <div class="form-group">
                            <label for="deviceSelect">Device ID</label>
                            <select class="form-control" id="deviceSelect" name="device_id">
                                {% for device_id in device_ids %}
                                <option value="{{ device_id }}">{{ device_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">View Device</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}