{% extends "base.html" %}

{% block title %}Sensing Garden Dashboard - Models{% endblock %}

{% from "table.html" import render_table, table_scripts %}

{% block content %}
<div class="container">
    <h2>Models</h2>
    {% set display_fields = fields + ['formatted_time'] if 'formatted_time' not in fields else fields %}
    {% set adjusted_fields = display_fields | reject('equalto', 'id') | list %}
    {% if 'model_id' not in adjusted_fields %}
        {% set adjusted_fields = ['model_id'] + adjusted_fields %}
    {% endif %}
    {{ render_table('modelsTable', items, adjusted_fields, url_for('download_csv', table_type='models'), pagination) }}
</div>
{% endblock %}

{% block scripts %}
    {{ table_scripts('modelsTable') }}
{% endblock %}